@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-bg: white;
    --soft-bg: #ddd;
    --dark-bg: #2a3447;

    --main-text: #2a3447;
    --soft-text: #384256;
    --dark-text: #222b3c;

    --btn-bg: #336699;
    --btn-text: white;
    
}
:root.dark{
    --main-bg: #2a3447;
    --soft-bg: #384256;
    --dark-bg: #222b3c;

    --main-text: white;
    --soft-text: #ddd;
    --dark-text: #2a3447;

    --btn-bg: white;
    --btn-text: black;
}
body{
    font-family: 'Inter', sans-serif;
}